.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  min-height: 60vh;
  margin: 0 auto;
  padding-bottom: 1em;
  text-align: center;

  background: var(--dark-blue);

  color: #fff;

  position: relative;
}

.container header {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(184, 184, 184);
  padding-bottom: 1.5em;
  margin-bottom: 2em;
  z-index: 1;
}

.container section {
  margin-top: 1em;
  z-index: 1;
}

.contactContainer button {
  margin-top: 2em;
}

.titleContainer {
  display: flex;
  justify-content: center;
}

.telephoneInfo {
  position: absolute;
  top: 2em;
  right: 6em;
  width: 14em;
}

.telephoneAndMenuContainer {
  display: flex;
  align-items: center;
}

.menuBtn {
  display: none;
}

.navContainer {
  margin-top: 2em;
}

.navContainer nav {
  display: flex;
  justify-content: center;
}

.navContainer nav a {
  margin: 0 1em;
}

.activedLink {
  color: #d8be52;
}

@media (max-width: 720px) {
  .titleContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .telephoneInfo {
    width: 100%;
    position: unset;
    margin-top: 2em;
  }
}

@media (max-width: 577px) {
  .container header {
    width: 90%;
  }

  .container section {
    width: 90%;
    margin: 0 auto;
  }

  .menuBtn {
    display: flex;
    margin-top: 2em;
  }

  .navContainer nav {
    display: none;
  }
}
