.container {
  width: 100vw;
  height: auto;
  color: var(--dark-blue);
  background: url("/assets/light-blue-wave-2.svg") no-repeat bottom;
  background-size: max(150em, 100%);
}

.container main {
  display: block;
  width: min(50em, 90%);
  margin: auto;
  padding: 4em 0;
}

.aboutTherapyContainer h1 {
  text-align: center;
}

.aboutTherapyContainer article {
  margin: 1em 0;
}

.aboutTherapyContainer article p {
  text-align: justify;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.contactContainer div:first-child {
  width: 15.5em;
  text-align: center;
}

.contactContainer div small {
  display: flex;
  flex-direction: column;
  margin-top: 1.4em;
}

.contactContainer div span img {
  border-radius: 50%;
}

.contactContainer div a {
  display: flex;
  align-items: center;
  color: #25d366;
}

.contactContainer div a svg {
  margin-right: 0.4em;
}

.scheduleContainer a {
  display: flex;
  justify-content: center;
  border: 1px solid #25d366;
  border-radius: 0.25rem;
  padding: 1em;
  transition: all 0.8s;
}

.scheduleContainer a:hover {
  background: #25d366;
  color: #fff;
  text-decoration: none;
}

.qrCode {
  margin-top: 1em;
}

@media (max-width: 600px) {
  .contactContainer {
    flex-direction: column-reverse;
  }

  .contactContainer div:first-child {
    width: 50%;
    margin: auto;
  }

  .scheduleContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  .qrCode {
    display: none;
  }
}
