.container {
  width: 100vw;
  height: auto;
  color: var(--dark-blue);
  background: url("/assets/light-blue-wave-2.svg") no-repeat bottom;
  background-size: max(150em, 100%);
}

.container main {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 5em;
  height: 100%;
}

.formContainer {
  margin-bottom: 2em;
}

.formContainer form {
  margin-top: 1em;
}

.formContainer form div {
  display: block;
  margin-bottom: 2em;
}

.formContainer form div input,
.formContainer form div textarea {
  width: 100%;
  padding: 0.2em;
  font-size: 18px;
}

.formContainer form div textarea {
  height: auto;
  min-height: 10em;
}

.contactContainer {
  margin-left: 5em;
}

.contactContainer ul {
  margin-top: 1em;
  margin-left: 1em;
}

.contactContainer ul li {
  font-size: 18px;
  margin-top: 2em;
  margin-bottom: 1em;
}

.success {
  position: sticky;
  text-align: center;
  top: 0;
  padding: 1em;
  background: rgb(22, 161, 34);
  color: #fff;
  font-weight: 600;
  opacity: 0.8;
}

.fail {
  position: sticky;
  text-align: center;
  top: 0;
  padding: 1em;
  background: rgb(161, 22, 22);
  color: #fff;
  font-weight: 600;
  opacity: 0.8;
}

.hide {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 640px) {
  .container main {
    display: block;
  }

  .contactContainer {
    margin-top: 2em;
    margin-left: 0;
  }
}

@media (max-width: 380px) {
  .container main {
    width: 80%;
    margin-top: 5em;
  }

  .contactContainer ul li {
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
  }
}
