.container {
  background: #002441;
  padding-top: 2em;
}

.mainContainer,
.copyright {
  color: #fff;
  width: 90%;
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
}

.contactsContainer {
  display: flex;
  height: min-content;
  align-items: center;
}

.medias {
  margin-left: 1em;
}

.medias div {
  display: flex;
  align-items: center;
}

.medias > div {
  margin: 1em auto;
}

.medias div div {
  margin-right: 1em;
}

.aboutContainer {
  width: 25em;
}

.aboutContainer div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutContainer div:first-child div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContainer div:first-child img {
  border-radius: 50%;
}

.aboutContainer div:last-child p {
  margin: 1em auto;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}

.copyright {
  padding-bottom: 1em;
  margin-top: 1em;
  font-size: 14px;
}

@media (max-width: 840px) {
  .mainContainer,
  .copyright {
    width: 80%;
  }

  .container .mainContainer {
    display: block;
    padding: 0;
  }

  .contactsContainer {
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
  }

  .medias {
    margin-left: 0;
  }

  .aboutContainer {
    width: 100%;
    margin: 1em auto;
  }

  .aboutContainer div:first-child {
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .contactsContainer {
    width: 100%;
  }

  .medias div span {
    width: 100%;
    text-align: initial;
    word-wrap: anywhere;
  }
}
