.container {
  width: 100vw;
  height: 100vh;
  display: inline-table;
  margin: 0 auto;
  background: url("/assets/light-blue-wave.svg") no-repeat bottom;
  background-size: max(150em, 100%);
}

.container main {
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-bottom: 5em;
}

.container main h1 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

.container main div {
  width: 100%;
  display: inline-flex;
}

.container main div p {
  width: auto;
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
  text-justify: inter-word;
}

.text1 {
  margin-bottom: 0.5em;
}

.text2 {
  margin-top: 2em;
}

.text1 p:last-child {
  margin-left: 1em;
}

.text2 p:first-child {
  margin-right: 1em;
}

.container main div div {
  width: 50%;
}

@media (max-width: 692px) {
  .container main h1 {
    font-size: 22px;
  }

  .container main div {
    display: block;
  }

  .container main div p {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .container main div div {
    width: 100%;
  }
}
