.container {
  width: 100vw;
  height: 100vh;
  display: inline;
  margin: 0 auto;
}

.container main {
  width: min(60em, 90%);
  margin: 0 auto;
  display: block;
  margin-bottom: 5em;
}

.container main h1 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

.container main div {
  width: 100%;
  display: flex;
  align-items: center;
}

.container main div p {
  display: flex;
  width: auto;
  margin-top: 1em;
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 692px) {
  .container main h1 {
    font-size: 22px;
  }

  .container main div {
    flex-direction: column;
  }

  .container main div p {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .container main div div {
    width: 100%;
  }
}
