.container {
  background: url("/assets/home-bg-wave.svg") no-repeat bottom;
  background-size: max(100em, 100%);
}

.container main {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.container main section {
  width: 50%;
}

.imgContainer {
  display: block;

  color: var(--dark-blue);
}

.image {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.text {
  width: 80%;
  margin: auto;
}

.imgContainer div h2 {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.postsContainer {
  text-align: center;
  margin-top: 3em;
  border-left: 1px solid #ddd;
  color: var(--dark-blue);
}

.postsContainer p {
  margin-top: 1em;
}

.quote {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;

  background: var(--blue) url("/assets/quote-bg-image.jpg") no-repeat center
    fixed;
  background-size: cover;

  color: #fff;
}

.quote p {
  width: 70%;
  text-align: center;
  line-height: 1.5;
  margin: 1em auto;
}

.quote p:last-child {
  margin-top: 0;
}

@media (max-width: 790px) {
  .container main {
    display: block;
  }

  .container main section {
    width: 100%;
  }

  .postsContainer {
    border-left: 0;
    border-top: 1px solid #ddd;
    padding-top: 1em;
  }

  .postsContainer h2 {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .imgContainer {
    display: block;
  }

  .imgContainer div {
    text-align: center;
    margin: 0 auto;
  }

  .postsContainer {
    width: 90%;
    margin: 2em auto;
  }
}

@media (max-width: 542px) {
  .quote p {
    width: 80%;
  }
}
