
.container main {
  background: url("/assets/curve-light-blue.svg") no-repeat center bottom;
  position: absolute;
  content: '';
  width: 100vw;
  height: 100%;
}

.quote {
  width: 100%;
  height: 15em;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;
  padding: 1em auto;

  background: var(--light-blue) url("/assets/quote-bg-image.png") no-repeat center fixed;
  background-size: cover;

  color: #fff;
}

.quote p {
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}