.container main {
  display: block;
  width: 100vw;
}

.imgContainer {
  display: flex;
  align-items: center;

  background: url("/assets/wave.svg") no-repeat bottom;
  color: var(--dark-blue);
}

.imgContainer div h1 {
  line-height: 1.5;
}

.postsContainer {
  text-align: center;
  margin-top: 2em;
  color: var(--dark-blue);
}

.postsContainer p {
  margin-top: 1em;
}

.quote {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;
  padding: 1em;

  background: var(--blue) url("/assets/quote-bg-image.png") no-repeat center
    fixed;
  background-size: cover;

  color: #fff;
}

.quote p {
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
  margin: 1em auto;
}

@media (max-width: 575px) {
  .imgContainer {
    display: block;
  }

  .imgContainer div {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .postsContainer {
    width: 90%;
    margin: 2em auto;
  }
}

@media (max-width: 542px) {
  .quote p {
    width: 80%;
  }
}
